<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CamShare.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD64B5541CF8803F00BED3BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD64B56D1CF8804000BED3BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD64B5781CF8804000BED3BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
